/*
font-family: 'Oswald', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Passion One', cursive;
font-family: 'BenchNine', sans-serif;
font-family: 'Paytone One', sans-serif;

// serif
font-family: 'Roboto Slab', serif;
font-family: 'Vidaloka', serif;
*/

@import url('https://fonts.googleapis.com/css?family=Anton|BenchNine|Oswald|Passion+One|Paytone+One|Roboto+Slab|Vidaloka');
body {
    /* global font style */
    font-family: 'Roboto Slab', serif;
    background-color: #540045;
    background-image: url("../images/dd-bg-1024px.png");
    background-repeat: repeat-x;
    /*font-size: 1rem;*/
    /*line-height: 1.5;*/
}

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
    /*font-size: 0.7rem;*/
    /*line-height: 1;*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

label {
    /* font-size: .875rem; */
    /* line-height: 1.8; */
    /* font-size: 0.5rem; */
    /* line-height: 1.2; */
    font-weight: 400;
}

select {
    /* font-size: 0.7rem; */
    /* line-height: 1; */
}

/*thead {
    border-radius: 12px;
}

thead.dnd-date-panel {
    background-color: #e858be;
}

table thead {
    background: rgba(255, 255, 255, 0);
    color: #0a0a0a;
}

table tbody, table tfoot, table thead {
    border-style: none;
}*/

/* Foundation 6 Overrides */

.dnd-button {
    border-radius: 6px;
    text-shadow: 0px 1px 0 #1b1b1b55;
    border-bottom: 4px solid #0a0a0a33;
}

.dnd-button-medium {
    border-radius: 3px;
    font-size: 0.7em;
    padding: 5px 8px 5px 8px;
    text-shadow: 1px 1px 0 rgba(#5e5e5e, 0.41);
}

.dnd-button-small {
    border-radius: 3px;
    /*font-size: 0.7em;*/
    padding: 3px 5px 3px 5px;
    text-shadow: 1px 1px 0 rgba(#5e5e5e, 0.41);
}

.button.large {}

.top-container {
    margin-top: 10vh;
}

.dnd-container {
    padding: 8px;
}

.card {
    border-radius: 8px;
}

.dnd-card {
    border-bottom: 4px solid #0a0a0a33;
}

/* Foundation Tabs */

/* focused tab */

.tabs-title>a:focus, .tabs-title>a[aria-selected=true] {
    /*background-color: #85bff5;*/
    background-color: rgba(#ffffff, 0);
}

/* unfocused tab */

.tabs-title>a {
    /*background-color: #e0dc79;*/
    background-color: rgba(#ffffff, 0);
}

/* tabs are border */

.tabs {
    border-top: none;
    border-left: none;
    border-right: none;
}

.tabs-title {
    background-color: none;
    border-top: 1px solid #cccccc7a;
    border-left: 1px solid #cccccc7a;
    border-right: 1px solid #cccccc7a;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.tabs-title>a {
    padding: 0.6rem 0.5rem 0.6rem 0.5rem;
}

.tabs-title>a:focus,
.tabs-title>a[aria-selected=true],
.tabs-title>a[aria-active=true] {
    background-color: rgba(#ffffff, 0);
}

.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
    background: #edecec;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-weight: 600;
}

.tabs-title > a[role='presentation'] {
    background-color: none;
}


/* Application */

.ddn-modal-head, .ddn-modal-lead {
    font-family: 'Vidaloka', serif;
}

.dnd-modal-title {
    font-size: 1.25rem;
}


.custom.tabs > .tabs-title > a:focus, .custom.tabs > .tabs-title > a[aria-selected='true'] {
    background: black;
    color: white;
}
/* modal background */

.ddn-modal {
    border-radius: 10px;
}

/* inverted headers */

.dnd-h-white {
    color: #fff;
}

/* date result table */

table.dnd-date-result {
    border-radius: 12px;
}

/* table parent div */

.dnd-date-panel {
    margin: 5px;
    border: 1px solid #cfcfcf;
    border-radius: 12px;
    padding: 0.5rem;
}

.dnd-results-card-section {
    padding: 8px 8px 8px 8px;
}

/*results tab header*/

.dnd-result-tabs {
    border-right-style: none;
    border-top-style: none;
    border-top-left-radius: 8px;
}

/* tab page content */

.dnd-results-tab-content {
    /*border: 1px solid #000;*/
    border-top: 1px none #e1e1e1;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.responsive-card-table {
    border-collapse: collapse;
}

.responsive-card-table.unstriped tbody {
    background-color: transparent;
}

.responsive-card-table th {
    background-color: #e6e6e6;
}

.responsive-card-table th:first-child {
    border-top-left-radius: 10px;
}

.responsive-card-table th:last-child {
    border-top-right-radius: 10px;
}

.responsive-card-table th {
    background-color: #e6e6e6;
}

.responsive-card-table tr, .responsive-card-table th, .responsive-card-table td {
    /*border: 1px solid #0a0a0a;*/
}

@media screen and (max-width: 640px) {
    .responsive-card-table {}
    .responsive-card-table thead tr {
        position: absolute;
        top: -9999em;
        left: -9999em;
    }
    .responsive-card-table tr {
        /*border: 1px solid #0a0a0a;*/
        display: block;
    }
    .responsive-card-table tr+tr {
        margin-top: 1.5rem;
    }
    .responsive-card-table td {
        border: none;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        /*border-bottom: 1px solid #0a0a0a;*/
        padding-left: 50%;
        position: relative;
    }
    .responsive-card-table td::before:first-child {
        content: none;
    }
    .responsive-card-table td:before {
        content: attr(data-label);
        display: inline-block;
        font-weight: bold;
        line-height: 1.5;
        margin-left: -100%;
        width: 100%;
        position: relative;
        z-index: 1;
    }
    .responsive-card-table td:after {
        content: '';
        position: absolute;
        background: #e6e6e6;
        width: 45%;
        height: 95%;
        left: 1px;
        top: 1px;
        z-index: 0;
    }
    .responsive-card-table td::before:first-child {
        background: #ccc;
    }
}

/* Mobile Footer  */

.mobile-bottom-bar {
    width: 100%;
    height: 3.778rem;
    background: #ff6807;
    display: -webkit-flex;
    display: -ms-flexbox;
    /*display: flex;*/
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /*position: absolute;*/
    position: fixed;
    bottom: -10px;
}

.mobile-bottom-bar .footer-link {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    color: #EAFF87;
    /*text-transform: uppercase;*/
    font-size: 0.8125rem;
    font-weight: bold;
    padding: 0.907rem 1rem;
}

.mobile-bottom-bar .footer-link i.fa {
    opacity: 0.8;
    margin-right: 0.625rem;
    font-size: 1.5rem;
    vertical-align: middle;
}

.mobile-bottom-bar .footer-link:focus, .mobile-bottom-bar .footer-link:active {
    color: #0c3e5f;
}

.mobile-bottom-bar .footer-text {
    position: relative;
    top: 2px;
    font-weight: bold;
    font-size: 0.875rem;
    color: #EAFF87;
}

.off-canvas-wrapper {
    overflow: visible;
}

.off-canvas-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, nav, footer {
    flex-shrink: 0;
}

main {
    flex: 1 0 auto;
    /* Use 1 0 auto instead of just 1 for backwards compatibility with other browsers */
}

.dnd-reveal-container {
    max-width: 400px;
}

.dnd-reveal, .dnd-reveal-alert, .dnd-reveal-settings, .dnd-reveal-progress {
    background-color: #ffffff;
    /* 50px => 3.2rem */
    border-radius: 4px;
    border-top: none;
    border-left: none;
    border-left: none;
    border-bottom: 3px solid #0a0a0a33;
    font-size: 0.9rem;
    padding: 0px;
    height: auto;
    overflow: -webkit-paged-x;
}

.dnd-reveal-alert {
    /* 50px => 3.2rem */
    background-image: -webkit-linear-gradient(left, rgb(245, 54, 94) 3.2rem, rgb(255, 255, 255) 3.2rem);
    background-image: -moz-linear-gradient(left, rgb(245, 54, 94) 3.2rem, rgb(255, 255, 255) 3.2rem);
    background-image: -ms-linear-gradient(left, rgb(245, 54, 94) 3.2rem, rgb(255, 255, 255) 3.2rem);
    background-image: -o-linear-gradient(left, rgb(245, 54, 94) 3.2rem, rgb(255, 255, 255) 3.2rem);
    background-image: linear-gradient(to right, rgb(245, 54, 94) 3.2rem, rgb(255, 255, 255) 3.2rem);
}

/*  #30AD63 */

.dnd-reveal-settings {
    /* 50px => 3.2rem */
    font-size: 0.6em;
    background-image: -webkit-linear-gradient(left, rgb(48, 173, 99) 3.2rem, rgb(255, 255, 255) 3.2rem);
    background-image: -moz-linear-gradient(left, rgb(48, 173, 99) 3.2rem, rgb(255, 255, 255) 3.2rem);
    background-image: -ms-linear-gradient(left, rgb(48, 173, 99) 3.2rem, rgb(255, 255, 255) 3.2rem);
    background-image: -o-linear-gradient(left, rgb(48, 173, 99) 3.2rem, rgb(255, 255, 255) 3.2rem);
    background-image: linear-gradient(to right, rgb(48, 173, 99) 3.2rem, rgb(255, 255, 255) 3.2rem);
}

/* 2F81B7 */

.dnd-reveal-progress {
    /* 50px => 3.2rem */
    font-size: 0.6em;
    background-image: -webkit-linear-gradient(left, rgb(47, 129, 183) 3.2rem, rgb(255, 255, 255) 3.2rem);
    background-image: -moz-linear-gradient(left, rgb(47, 129, 183) 3.2rem, rgb(255, 255, 255) 3.2rem);
    background-image: -ms-linear-gradient(left, rgb(47, 129, 183) 3.2rem, rgb(255, 255, 255) 3.2rem);
    background-image: -o-linear-gradient(left, rgb(47, 129, 183) 3.2rem, rgb(255, 255, 255) 3.2rem);
    background-image: linear-gradient(to right, rgb(47, 129, 183) 3.2rem, rgb(255, 255, 255) 3.2rem);
}

.dnd-reveal-alert, .dnd-reveal-progress {
    max-width: 400px;
}

.dnd-alert-icon-cell {
    max-width: 50px;
    /*display: flex;*/
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 1rem;
}

/* body content cell */

.dnd-alert-body-cell {
    margin: 1em 6px 6px 1em;
}

.dnd-progress-title {
    font-weight: 700;
    font-size: 1.5rem;
}

/* body text style */

.dnd-progress-body {
    color: rgba(#000000, 0.9);
    font-size: 1.0rem;
}

.dnd-alert-title {
    font-weight: 700;
    font-size: 0.9rem;
}

/* body text style */

.dnd-alert-body {
    color: rgba(#000000, 0.9);
    font-size: 0.8rem;
}

/* buttons container */

.dnd-alert-control-cell {
    padding-right: 1em;
    border-bottom-style: solid;
    border-bottom-color: rgba(112, 112, 112, 0.66);
}

/* Heart Rating Widget */

.dnd-user-rating-container {
    border-radius: 0.6rem;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    width: fit-content;
    background-color: #f5f3f3;
    border-bottom: 2px solid #9898982e;
}

.dnd-user-rating-widget {
    padding: 3px;
    letter-spacing: 0.1rem;
}

.dnd-heart-widget {
    transition: all .2s ease-in-out;
    cursor: pointer;
    color: #f11464;
    text-shadow: 0 1px 0 #30303040;
}

.dnd-heart-widget.unfilled {
    color: #000;
}

.dnd-heart-widget:hover {
    transform: scale(1.25);
}

table td.shrink {
    white-space: nowrap;
}

table td.expand {
    width: 99%;
}

.dnd-date-detail-title {
    font-weight: 600;
}

.dnd-date-detail-error-desc,
.dnd-date-detail-desc {
    font-size: 0.8rem;
}

.dnd-date-detail-error-desc {
    color: #ee3052;
    font-weight: 700;
}

p.dnd-romance-desc {
    font-size: 0.8rem;
}

.dnd-tbody-start {
    /*border-top: 2px solid #333333;*/
}

.dnd-tbody-end {
    border-bottom: 2px solid #909090;
}
